<!DOCTYPE html>
<html>
<head>
    <title>Meu Blog Django</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    <hr>
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titulo }}</a></h2>
                <p><strong>Tag:</strong> {{ post.tag.nome }} | <strong>Data:</strong> {{ post.data_pub|date:"d/m/Y H:i" }}</p>
            </li>
        {% empty %}
            <p>Nenhum post publicado ainda.</p>
        {% endfor %}
    </ul>
</body>
</html>